@import '~bootstrap/scss/bootstrap';
// @import '~toastr/build/toastr.css';
// @import './typography.scss';
// @import './colors.scss';
// @import './themes.scss';

// mini css reset
// * {
//   padding: 0;
//   margin: 0;
// }
h1 {
  font-family: 'IBM Plex Mono', monospace;
}

main {
  input {
    border-radius: 7px;
    padding: 7px;
  }

  #welcome {
    font-size: 30px;
  }

  #sign-up {
    font-family: 'IBM Plex Mono', monospace;
  }

  #sign-in {
    font-family: 'IBM Plex Mono', monospace;
  }

  .log-header {
    font-family: 'IBM Plex Mono', monospace;
  }

  .log-body {
    font-family: 'IBM Plex Mono', monospace;
  }

  .update-log {
    font-family: 'IBM Plex Mono', monospace;
  }

  .delete-log {
    font-family: 'IBM Plex Mono', monospace;
  }

  .no-post-message {
    font-family: 'IBM Plex Mono', monospace;
  }

  #user-online {
    display: none;

    #sideBar {
      margin: 0;
      padding: 0;
      height: 25%;
      width: 100%;
      position: fixed;
      background: grey;
      top: 0;
      left: 0;
      font-family: 'IBM Plex Mono', monospace;
      z-index: 1;

      li {
        display: flex;
        padding: 0.5px;
        height: 100%;

        &.hover {
          color: white;
        }
      }
    }

    .menu-item {
      font-size: 1.5em;
      display: flex;
      margin-left: 10px;
    }

    #content {
      margin-left: 50px;
      margin-top: 100px;
      margin-right: 250px;
      font-family: 'IBM Plex Mono', monospace;

      #top-feed-item {
        background: rgb(238, 239, 198);
        border-top-left-radius: 85px 55px;
        border-top-right-radius: 100px 20px;
        border-bottom-left-radius: 99px 90px;
        border-bottom-left-radius: 100px 7px;

        #create-log-container {
          display: none;
          text-align: left;

          form {
            // margin-left: 100px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-content: space-between;

            #create-log-btn {
              margin-top: 15px;
              // margin-left: 260px;
              width: 25vw;
              border-top-left-radius: 75px, 55px;
            }
          }
        }
      }

      #feed {
        margin: 20px;
      }
    }
  }
}

// .quail-img {
//   width: 4.5em;
//   height: 4.5em;
//   margin-left: 3.3em;
// }

.menu-but {
  font-size: 15px;
  position: relative;
  top: 10px;
  left: 40px;
}

button {
  border: none;
  background-color: inherit;
}

button:hover {
  color: wheat; // change later
}

#user-modal {
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
}

input {
  border-radius: 7px;
  padding: 7px;
  margin: 5px;
}

#change-password-form {
  display: none;
  font-family: 'IBM Plex Mono', monospace;
}

// menu toggle btn css
.switch {
  margin-left: 5.3em;
  margin-top: 5px;
  position: relative;
  top: 10px;
  left: 30px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.log-body {
  border-style: dotted;
  border-color: white;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
}

.log-header {
  border-style: dotted;
  border-color: white;
}

.change-view {
  position: relative;
  top: 40px;
  left: 40px;
}

#update-modal {
  font-family: 'IBM Plex Mono', monospace;
}

#log-date {
  font-size: 12px;
}
